@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
html,
body {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Kanit";
  /* background: #141414; */
}

.bg-black {
  background: #000000;
}
.sidenav {
  display: none;
}
.navbarMobile {
  display: none;
}
.navbar {
  position: fixed;
  color: #141414;
  z-index: 999;
  transition: 0.5s all;
  margin-top: 10px;
}
.blurry {
  margin-top: 0px;
  background: #ffffffb2;
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 10px rgba(90, 90, 90, 0.7);
}
.navbar a {
  text-decoration: none;
  color: #141414;
}

.scroll-x {
  overflow-y: scroll;
}
.scroll-x::-webkit-scrollbar {
  height: 0;
}
.btn-outline-dark {
  border-radius: 30px;
  color: #141414;
  border: 1px solid #141414;
}
.btn-outline-dark:hover {
  background: #141414;
}
.main {
  padding-top: 20vh;
  padding-bottom: 30vh;
  background: #87cef7;
  background: linear-gradient(
    136.16deg,
    rgba(255, 255, 255, 0.97) 20%,
    rgba(155, 209, 250, 0.69) 80%
  );
  /* box-shadow: 10px 10px 20px rgba(31, 26, 51, 0.13); */
  border-radius: 0 0 80px 80px;
}
.main .img1 {
  width: 80%;
}
.main .img2 {
  width: 80%;
  margin-left: 30%;
  margin-top: -50vh;
}
.main .img3 {
  margin-top: -20vh;
}
.main .iimg {
  width: 115%;
  margin-left: -15%;
}
.main .data h4 {
  color: #141414;
  font-weight: bolder;
  margin-top: 5vh;
}
.main .data h1 {
  font-family: "Poppins", sans-serif;
  color: #141414;
  font-size: 5em;
}
.main .data p {
  color: #141414;
  font-size: 1em;
}
.main .book-now {
  border: 0px;
  background: #141414;
  color: #ffffff;
  padding: 10px 30px;
  border: 2px solid #141414;
  border-radius: 25px 5px 25px 5px;
}

.main .book-now-outline {
  border: 0px;
  background: none;
  color: #141414;
  padding: 10px 30px;
  border: 2px solid #141414;
  border-radius: 25px 5px 25px 5px;
}

.main .book-now-outline:hover {
  border: 0px;
  color: #ffffff;
  background: #141414;
  padding: 10px 30px;
  border: 2px solid #141414;
  border-radius: 25px 5px 25px 5px;
}

.main .book-now:active {
  border: 0px;
}
.main .book-now:hover {
  background: none;
  color: #141414;
  padding: 10px 30px;
  border: 2px solid #141414;
}
.main .ourServicesBtn {
  margin-top: -10vh;
}

.main .phrases {
  align-items: center;
}
#contactus form {
  padding: 10vh 5% 20vh 5%;
}
.phrases .row {
}
.phrases img {
  width: 100%;
}
.phrases h3 {
  color: #141414;
  font-size: 3em;
  font-family: "Poppins", "Elephant";
}
.phrases h4 {
  color: #141414;
  font-size: 2em;
  text-align: right;
  font-family: "Poppins", "Elephant";
}
.header h2 {
  font-family: "Poppins";
  font-size: 4em;
  margin-top: 20vh;
  color: #ffffff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.43);
}
.header span {
  color: #141414;
  border-bottom: 5px solid #141414;
}
.header p {
  font-size: 2em;
  color: #141414;
}

.services .service {
  background: #ffffff;
  color: #141414;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: "Poppins";
  box-sizing: border-box;
  transition: 0.5s all;
}
.services .service p {
  height: 0vh;
  overflow: hidden;
  transition: 0.5s all;
}

.services .service:hover {
  cursor: pointer;
  color: #ffffff;
  transition: 0.5s all;
  background: #141414;
  box-shadow: inset 5px 5px #ffffff, inset -5px -5px #ffffff;
}
.services .service:hover p {
  height: auto;
  transition: 0.5s all;
  font-family: "Kanit";
}
.services .service img {
  transition: 0.5s all;
}
.services .service:hover img {
  width: 0%;
  transition: 0.5s all;
}
.services .services-1 {
  margin-top: -20vh;
  margin-bottom: 10vh;
}
.service img {
  width: 150px;
}
.main2 {
  padding-top: 20vh;
  padding-bottom: 20vh;
  background: linear-gradient(
    180deg,
    rgba(155, 209, 250, 0.69) 12%,
    rgba(255, 255, 255, 0.97) 88%
  );
  /* box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.25); */
  border-radius: 80px 80px 0px 0px;
  margin-top: -20vh;
}
.testimonials {
  /* margin-top: 20vh; */
  padding-top: 20vh;
  overflow-x: scroll;
}
.testimonials::-webkit-scrollbar {
  height: 0px;
}
.testimonials .testimonial img {
  margin-top: -70px;
  width: 140px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
.testimonials .testimonial {
  border-radius: 5px;
  color: #141414;
  background: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
  transition: 0.5s all;
}
.testimonials .testimonial:hover {
  color: #ffffff;
  background: #141414;
  transition: 0.5s all;
  cursor: pointer;
}
.testimonials .testimonial b {
  border-bottom: 3px solid rgb(212, 212, 212);
}
iframe {
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}
.footer {
  margin-top: -15vh;
  border-radius: 80px 80px 0px 0px;
  background: #141414;
  padding: 15vh 5% 0vh 5%;
  /* box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.43); */
}
.footer h2 {
  color: rgb(212, 212, 212);
  border-bottom: 3px solid rgb(212, 212, 212);
  padding: 0;
}
.footer .item,
.footer p {
  color: #bebebe;
}
.footer .item:hover,
.footer p:hover {
  color: #ffffff;
  cursor: pointer;
}

/* footer */

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
  margin-top: -10vh;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #87cef7;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #87cef7;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #87cef7;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #87cef7;
  padding: 13px 20px;
  border: 1px solid #87cef7;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #87cef7;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #87cef7;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(220, 240, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}

.btn-call {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  padding: 15px;
  width: 60px;
  height: 60px;
  color: #87cef7;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.43);
  border-radius: 50%;
  background: #ffffff77;
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 10px rgba(90, 90, 90, 0.4);
}
.btn-call:active,
.btn-call:hover {
  text-decoration: none;
  background: #000000;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #ffffffb2;
  backdrop-filter: blur(4px);
  z-index: 99999999;
  overflow: hidden;
  transition: 0.5s all;
}
@media only screen and (max-width: 760px) {
  .navbarMobile .btn {
    background: none;
    border: none;
  }
  .btn-call {
    display: block;
    padding: 0;
  }
  .sidenav {
    display: block;
    position: fixed;
    left: 0;
    width: 0;
    overflow-x: hidden;
    height: 100vh;
    color: #141414;
    z-index: 9999999;
    transition: 0.5s all;
    background: #ffffffb2;
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 10px rgba(90, 90, 90, 0.7);
  }
  .main .book-now {
    font-size: 0.8em;
  }
  .sidenav a {
    text-decoration: none;
    color: #141414;
  }
  .navbarMobile {
    display: block;
    z-index: 999999;
    position: fixed;
    transition: 0.5s all;
    color: rgb(0, 0, 0);
  }
  .navbar {
    display: none;
  }
  .main {
    padding-top: 10vh;
  }
  .main .data h4 {
    font-size: 1em;
  }
  .main .data h1 {
    font-size: 3em;
  }
  .main .data p {
    font-size: 0.8em;
  }
  .main .ourServicesBtn {
    margin-top: 2vh;
  }
  .main .img1 {
    width: 80%;
  }
  .main .img2 {
    width: 90%;
    margin-left: 20%;
    margin-top: -25vh;
  }
  .main .img3 {
    margin-left: 5%;
    width: 50%;
    margin-top: -10vh;
  }
  .main .iimg {
    width: 100%;
    margin-left: 0%;
  }
  .phrases h4 {
    font-size: 1.5em;
    text-align: center;
  }
  .header h2 {
    font-size: 2.8em;
  }
  .header p {
    font-size: 1.2em;
  }
  .main2 .container {
    margin-right: 0;
    padding-right: 0;
    margin-left: 0;
    padding-left: 0;
  }
  .testimonials .testimonial {
    margin-bottom: 130px;
  }

  /* Menu Icon */
  #nav-icon4:active,
  #nav-icon4:hover {
    background: none;
    border: none;
  }
  #nav-icon4 {
    width: 40px;
    height: 45px;
    z-index: 999999;
    position: relative;
    background: none;
    border: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon4 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 40px;
    background: #141414;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon4 span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon4 span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
  }

  #nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  #nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 24px;
  }
}
